// Place all the styles related to the offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input-control {
  display: block;
  padding: 8px;

  label {
    min-width: 50px;
    display: inline-block;
  }
}

.actions {
  display: block;
  padding: 8px 0;
  text-align: right;
  max-width: 190px;
}

.offer {
  display: inline-block;
  word-break: break-all;
  max-width: 200px;
  margin: 8px;
  padding: 8px;
  background: #efefef;
}

.error {
  color: #7f0000;
  background: RGBA(255, 102,102, 0.7);
  padding: 8px;
  border: 1px solid #ff0000;
}

